# 실습

## 4.10

In [1]:
result = []
n = int(input("n의 값을 입력:"))

for i in range(1,n+1):
    result.append(i**2)
    
res = sum(result)
print("계산값은",res,"입니다.")

n의 값을 입력:10
계산값은 385 입니다.

## 4.13

In [2]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

f = []
numbers = int(input('몇 번째 항까지 구할까요? '))
for i in range(numbers+1):
    f.append(fib(i))
print(*f,sep=",")

몇 번째 항까지 구할까요? 9
0,1,1,2,3,5,8,13,21,34

## 5.01

In [3]:
def get_peri(r = 5.0):
    if r == 5.0:
        print(f"get_peri() = {3.141692*r**2}")
    else:
        print(f"get_peri({r}) = {3.141692*r**2}")

get_peri()
get_peri(4.0)

get_peri() = 78.5423
get_peri(4.0) = 50.267072

## 5.03

In [4]:
def calc(x,y):
    print(f'{x+y}, {x-y}, {x*y}. {x/y}이 반환되었습니다')

x = int(input('첫 번째 정수를 입력하시오: '))
y = int(input('두 번째 정수를 입력하시오: '))
calc(x,y)

첫 번째 정수를 입력하시오: 10
두 번째 정수를 입력하시오: 20
30, -10, 200. 0.5이 반환되었습니다

## 5.08

In [5]:
def change(x):
    units = ['']+list('십백천')
    nums = list('일이삼사오율칠팔구')
    result = []
    i = 0
    while x > 0:
        x,r = divmod(x,10)
        if r > 0:
            result.append(nums[r-1]+units[i]+' ')
        i += 1
    return ''.join(result[::-1])

x = int(input('세 자리 정수를 입력:'))
change(x)

세 자리 정수를 입력:999

'구백 구십 구 '

## 5.11

In [6]:
def deci2bin(n):
    binary = ""

    while n != 0:
        value = n % 2
        if value == 0 :
            binary = "0" + binary 
        else:
            binary = "1" + binary
        n = n // 2
        
    return binary

x = int(input("10진수: "))
print(deci2bin(x))

10진수: 32
100000

# 자료구조(리스트)

## 리스트 방문

In [7]:
temps =[28,31,33,35,27,26,25] 
for i in range(len(temps)):
    print(temps[i], end=', ')

28, 31, 33, 35, 27, 26, 25,

In [8]:
temps =[28,31,33,35,27,26,25] 
for element in temps:
    print(element, end=', ')

28, 31, 33, 35, 27, 26, 25,

## zip()함수

In [9]:
questions =['name','quest','color']
answers =['Kim','파이썬','blue']
for q, a in zip(questions, answers):
    print(f"What is your {q}? It is {a}")

What is your name? It is Kim
What is your quest? It is 파이썬
What is your color? It is blue

## append()

In [10]:
heroes = [ ] # 공백 리스트를 생성한다. 
heroes.append("아이언맨") # 리스트에 ”아이언맨“을 추가한다
heroes.append("토르") # 리스트에 ”토르“를 추가한다. 
print(heroes)

['아이언맨', '토르']

## insert()

In [11]:
heroes=['아이언맨', '토르', '헐크']
heroes.insert(1, '스파이더맨')

## 탐색할 때 오류를 발생시키지 않으려면

In [12]:
if "헐크" in heroes:
    print(heroes.index("헐크"))

3

시작 위치 지정

In [13]:
heroes = [ "아이언맨", "토르", "헐크", "스칼렛 위치", "헐크" ]
n = heroes.index("헐크", 3) # n은 4가 된다.

## remove()

In [14]:
heroes = [ "아이언맨", "토르", "헐크" ]
heroes.remove("토르")

In [15]:
if "토르" in heroes:
    heroes.remove("토르")

## 리스트 항목의 최대값과 최소값

In [16]:
values = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
min(values) # 1
max(values) # 10

10

## 리스트 정렬

In [17]:
a = [ 3, 2, 1, 5, 4 ]
a.sort()

In [18]:
heroes =['아이언맨','헐크','토르']
heroes.sort()

In [19]:
a =[3,2,1,5,4 ]
a.sort(reverse=True)

In [20]:
numbers =[10,3,7,1,9,4,2,8,5,6]
ascending_numbers =sorted(numbers)
print( ascending_numbers )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 내장함수 예

In [21]:
numbers =[10,20,30,40,50]
print("합=",sum(numbers)) # 항목의 합계를 계산한다.
print("최대값=",max(numbers)) # 가장 큰 항목을 반환한다.
print("최소값=",min(numbers)) # 가장 작은 항목을 반환한다

합= 150
최대값= 50
최소값= 10

## 리스트에서 랜덤으로 선택하기

In [22]:
import random
numberList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("랜덤하게 선택한 항목=", random.choice(numberList))

랜덤하게 선택한 항목= 5

In [23]:
import random
movie_list = ["Citizen Kane", "Singin' in the Rain", "Modern Times","Casablanca", "City Lights"]
item = random.choice(movie_list)
print ("랜덤하게 선택한 항목=", item)

랜덤하게 선택한 항목= Citizen Kane

## Lab: 성적 처리 프로그램

In [24]:
STUDENTS = 5 
lst = [] 
count=0
for i in range(STUDENTS):
    value = int(input("성적을 입력하시요: "))
    lst.append(value)
    
print("\n성적 평균=", sum(lst) / len(lst))
print("최대점수=", max(lst))
print("최소점수=", min(lst))
for score in lst:
    if score >= 80:
        count += 1
print("80점 이상=", count)

성적을 입력하시요: 10
성적을 입력하시요: 20
성적을 입력하시요: 60
성적을 입력하시요: 70
성적을 입력하시요: 80

성적 평균= 48.0
최대점수= 80
최소점수= 10
80점 이상= 1

## Lab: 리스트에서 2번째로 큰 수 찾기

In [25]:
list1 = [1, 2, 3, 4, 15, 99] 
# 리스트를 정렬한다. 
list1.sort() 
# 뒤에서 두 번째 요소를 출력한다. 
print("두 번째로 큰 수=", list1[-2])

두 번째로 큰 수= 15

In [26]:
list1 = [1, 2, 3, 4, 15, 99] 
# 제일 큰 수는 삭제한다. 
list1.remove(max(list1)) 
# 그 다음으로 큰 수를 출력한다. 리스트는 변경되었다. 
print("두 번째로 큰 수=", max(list1))

두 번째로 큰 수= 15

## Lab: 콘테스트 평가

In [27]:
scores = [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
print("제거전", scores)
scores.remove(max(scores))
scores.remove(min(scores))
print("제거후", scores)

제거전 [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
제거후 [9.0, 8.3, 7.1, 9.0]

## Lab: 리스트로 스택 흉내내기

In [29]:
stack = []
for i in range(3) :
    f = input("과일을 입력하시오: ")
    stack.append(f)
for i in range(3) :
    print(stack.pop())

과일을 입력하시오: apple
과일을 입력하시오: orange
과일을 입력하시오: grape
grape
orange
apple

## Lab: 친구 관리 프로그램

In [31]:
menu = 0
friends = []
while menu != 9:
    print("--------------------")
    print("1. 친구 리스트 출력")
    print("2. 친구추가")
    print("3. 친구삭제")
    print("4. 이름변경")
    print("9. 종료")
    menu = int(input("메뉴를 선택하시오: "))
    if menu == 1:
        print(friends)
    elif menu== 2:
        name = input("이름을 입력하시오: ")
        friends.append(name)
    elif menu == 3:
        del_name = input("삭제하고 싶은 이름을 입력하시오: ")
        if del_name in friends:
            friends.remove(del_name) 
        else:
            print("이름이 발견되지 않았음")
    elif menu == 4:
        old_name = input("변경하고 싶은 이름을 입력하시오: ")
        if old_name in friends:
            index = friend.index(old_name)
            new_name = input("새로운 이름을 입력하시오: ")
            friends[index] = new_name
        else:
            print("이름이 발견되지 않았음")

--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오: 2
이름을 입력하시오: 홍길동
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오: 9

## 리스트 합병과 복제

In [32]:
heroes1 = [ "아이언맨", "토르" ]
heroes2 = [ "헐크", "스칼렛 위치" ]
avengers = heroes1 + heroes2

In [33]:
numbers = [ 1, 2, 3, 4 ] * 3

## 리스트 비교

In [34]:
list1 = [ 1, 2, 3 ]
list2 = [ 1, 2, 3 ]
print(list1 == list2)

True

In [35]:
list1 = [ 3, 4, 5 ]
list2 = [ 1, 2, 3 ]
print(list1 > list2)

True

## 리스트 복사하기 (얕은 복사)

In [36]:
temps = [28, 31, 33, 35, 27, 26, 25] 
values = temps
print(temps) # temps 리스트 출력
values[3] = 39 # values 리스트 변경
print(temps) # temps 리스트가 변경되었다.

[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 39, 27, 26, 25]

## 리스트 깊은 복사

In [37]:
temps = [28, 31, 33, 35, 27, 26, 25] 
values = list(temps)

## 슬라이싱(slicing)

In [38]:
numbers = [10,20,30,40,50,60,70,80,90]
numbers[:3] # [10, 20, 30]
numbers[3:] # [40, 50, 60, 70, 80, 90]
numbers[:] # [10, 20, 30, 40, 50, 60, 70, 80, 90]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## 리스트를 역순으로 만드는 방법

In [39]:
numbers = [ 10, 20, 30, 40, 50, 60, 70, 80, 90 ]
numbers[:: -1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

## 리스트 변경

In [40]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[0:3] = ['white', 'blue', 'red']
lst

['white', 'blue', 'red', 4, 5, 6, 7, 8]

In [41]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[::2] = [99, 99, 99, 99]
lst

[99, 2, 99, 4, 99, 6, 99, 8]

In [42]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[:] = [ ]
lst

[]

In [43]:
numbers = list(range(0, 10)) # 0에서 시작하여 9까지를 저장하는 리스트
print(numbers)
del numbers[-1] # 마지막 항목을 삭제한다. 
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

## 문자열과 리스트

In [44]:
s = "Monty Python"
print(s[0]) # M
print(s[6:10]) # Pyth
print(s[-12:-7]) # Monty

M
Pyth
Monty

## Lab: 리스트 슬라이싱

In [45]:
numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
reversed = numbers[::-2]
print(reversed)

[10, 8, 6, 4, 2]

In [46]:
numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
numbers[1:] = [ ]
print(numbers)

[1]

## 불변 객체가 함수로 전달되면

In [47]:
def func1(x):
    print( "x=",x," id=",id(x))
    x = 42
    print( "x=",x," id=",id(x))
y = 10
func1(y)
print( "y=",y," id=",id(y))

x= 10  id= 140716209350720
x= 42  id= 140716209351744
y= 10  id= 140716209350720

## 리스트가 함수로 전달되면

In [48]:
def func2(list):
    list[0] = 99
values = [0, 1, 1, 2, 3, 5, 8]
func2(values)
print(values)

[99, 1, 1, 2, 3, 5, 8]

## Lab: 리스트 변경 함수

In [49]:
salaries = [200, 250, 300, 280, 500]
def modify(values, factor) :
    for i in range(len(values)) :
        values[i] = values[i] * factor
print("인상전", salaries)
modify(salaries, 1.3)
print("인상후", salaries)

인상전 [200, 250, 300, 280, 500]
인상후 [260.0, 325.0, 390.0, 364.0, 650.0]

## 리스트 함축

In [50]:
squares = []
for x in range(10):
    squares.append(x*x)

## 다양한 리스트 함축

In [51]:
prices = [135, -545, 922, 356, -992, 217]
mprices = [i if i > 0 else 0 for i in prices]
mprices

[135, 0, 922, 356, 0, 217]

In [52]:
words = ["All", "good", "things", "must", "come", "to", "an", "end."]
letters = [ w[0] for w in words ]
letters

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [53]:
numbers = [x+y for x in ['a','b','c'] for y in ['x','y','z']]
numbers

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

## Lab: 리스트 함축 사용하기

In [54]:
numbers = [x for x in range(100) if x % 2 == 0 and x % 3 == 0]
print(numbers)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

## Lab: 누적값 리스트 만들기

In [55]:
list1=[10, 20, 30, 40, 50]
list2=[sum(list1[0:x+1]) for x in range(0, len(list1))]
print("원래 리스트: ",list1)
print("새로운 리스트: ",list2)

원래 리스트:  [10, 20, 30, 40, 50]
새로운 리스트:  [10, 30, 60, 100, 150]

## Lab: 피타고라스 삼각형

In [56]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if
x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [57]:
new_list = []
for x in range(1, 30):
    for y in range(x, 30):
        for z in range(y, 30):
            if x**2+y**2==z**2:
                new_list.append((x, y, z))
print(new_list)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

## 2차원 리스트

In [58]:
s = [ 
[ 1, 2, 3, 4, 5 ] ,
[ 6, 7, 8, 9, 10 ], 
[11, 12, 13, 14, 15 ] 
]
print(s)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

## 2차원 리스트의 구현

In [59]:
s = [ [ 1, 2, 3, 4, 5 ] , [ 6, 7, 8, 9, 10 ], [11, 12, 13, 14, 15 ] ]
print(s[1])
print(s[1][2])

[6, 7, 8, 9, 10]
8

## 2차원 리스트의 동적 생성

In [61]:
rows = 3
cols = 5
s = []
for row in range(rows): 
    s += [[0]*cols]
print(s)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [62]:
rows = 3
cols = 5
s = []
for row in range(rows): 
    s += [0]*cols # 1차원 리스트끼리 합쳐진다. 
print(s)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## 리스트 함축을 이용하는 방법

In [63]:
rows = 3
cols = 5
s = [([0] * cols) for row in range(rows)]
print(s)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

## 2차원 리스트 요소 접근

In [64]:
s = [ [ 1, 2, 3, 4, 5 ] ,
[ 6, 7, 8, 9, 10 ], 
[11, 12, 13, 14, 15 ] ]

# 행과 열의 개수를 구한다. 
rows = len(s)
cols = len(s[0])
for r in range(rows):
    for c in range(cols):
        print(s[r][c], end=",")
    print()

1,2,3,4,5,
6,7,8,9,10,
11,12,13,14,15,

## 2차원 리스트를 함수로 넘기기

In [65]:
def sum(numbers) :
    total = 0
    for i in range(len(numbers)) :
        for j in range(len(numbers[0])) :
            total = total + numbers[i][j]
        return total

## 2차원 리스트와 리스트 함축

In [76]:
matrix = [[i for i in range(5)] for _ in range(6)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [77]:
matrix = [ [0, 0, 0], [1, 1, 1], [2, 2, 2] ]
result = [num for row in matrix for num in row]
print(result)

[0, 0, 0, 1, 1, 1, 2, 2, 2]

## Lab: 전치 행렬 계산

In [78]:
transposed = []
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("원래 행렬=", matrix)
# 열의 개수만큼 반복한다. 
for i in range(len(matrix[0])):
    transposed_row = []
    for row in matrix: # 행렬의 각 행에 대하여 반복
        transposed_row.append(row[i])# i번째 요소를 row에 추가한다. 
    transposed.append(transposed_row)
print("전치 행렬=", transposed)

원래 행렬= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
전치 행렬= [[1, 4, 7], [2, 5, 8], [3, 6, 9]]