# 실습

## 6.04

In [1]:
A = [i for i in range(1,11)]
B = [-i for i in range(1,11)]
B = A[0:2]+B[2:8]+A[8:]
print(A)
print(B)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

## 6.05

In [2]:
def match_words(words):
    ctr = 0
    for word in words:
        if len(word) > 1 and word[0] == word[-1]:
            ctr += 1
    return ctr

s = ['aba', 'xyz', 'abc', '121']
print(s)
print('문자열의 개수=', match_words(s))

['aba', 'xyz', 'abc', '121']
문자열의 개수= 2

## 6.06

In [3]:
list1=[1, 2, 3, 4, 5, 6]
list2=[6, 7, 8, 9, 10]
print('list1=',list1)
print('list2=',list2)
list = list(set(list1)&set(list2))
if len(list)>0:
    print(True)
else:
    print(False)

list1= [1, 2, 3, 4, 5, 6]
list2= [6, 7, 8, 9, 10]
True

## 6.16

In [4]:
n = int(input("n을 입력:"))
a = [False,False] + [True]*(n-1)
list = []
for i in range(2,n+1):
    if a[i]:
        list.append(i)
        for j in range(2*i, n+1, i):
            a[j] = False

print(f'2부터 {n}까지 소수는')
' '.join(str(e) for e in list)

n을 입력:31
2부터 31까지 소수는

'2 3 5 7 11 13 17 19 23 29 31'

# 7장 파이썬 자료구조 II

## 튜플

In [1]:
single_tuple = ("apple",) # 쉼표가 끝에 있어야 한다. 
single_tuple

('apple',)

In [2]:
no_tuple = ("apple") # 쉼표가 없으면 튜플이 아니라 수식이 된다. 
no_tuple

'apple'

In [3]:
fruits = ("apple", "banana", "grape")
fruits[1]

'banana'

In [4]:
 fruits[1] = "pear"

TypeError: 'tuple' object does not support item assignment

In [5]:
# 튜플 <> 리스트
myList = [1, 2, 3, 4] 
myTuple = tuple(myList) # tuple()는 튜플을 생성하는 함수이다. 
myTuple

(1, 2, 3, 4)

In [6]:
myTuple = (1, 2, 3, 4)
myList = list(myTuple) # list()는 리스트를 생성하는 함수이다.
myList

[1, 2, 3, 4]

In [7]:
fruits = ("apple", "banana", "grape")
id(fruits)

2125769814144

In [8]:
fruits += ("pear", "kiwi")
fruits

('apple', 'banana', 'grape', 'pear', 'kiwi')

In [9]:
id(fruits)

2125769972768

In [10]:
numbers = [10, 20, 30]
id(numbers)

2125769018240

In [11]:
numbers += (40, 50)

In [12]:
numbers

[10, 20, 30, 40, 50]

In [13]:
id(numbers)

2125769018240

In [14]:
n1 = 10
n2 = 90
n1, n2 = (n2, n1)
n1

90

In [15]:
fruits =["apple","banana","grape"]
print(list(enumerate(fruits)))
for index, value in enumerate(fruits):
    print(index, value)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]
0 apple
1 banana
2 grape

## 세트

In [16]:
numbers =set([1,2,3,1,2,3])
print(numbers)

{1, 2, 3}

In [17]:
fruits ={"apple","banana","grape"}
size =len(fruits)

In [18]:
fruits = { "apple", "banana", "grape" }
if "apple" in fruits:
    print("집합 안에 apple이 있습니다.")

집합 안에 apple이 있습니다.

In [19]:
fruits ={"apple","banana","grape"}
for x in fruits:
    print(x, end=" ")

banana apple grape

In [20]:
fruits ={"apple","banana","grape"}
for x in sorted(fruits):
    print(x, end=" ")

apple banana grape

In [21]:
A ={"apple","banana","grape"}
B ={"apple","banana","grape","kiwi"}
if A == B :
    print("A와 B는 같습니다.")
else :
    print("A와 B는 같지 않습니다.")

A와 B는 같지 않습니다.

In [22]:
C = A|B

In [23]:
C

{'apple', 'banana', 'grape', 'kiwi'}

In [24]:
C = A&B

In [25]:
C

{'apple', 'banana', 'grape'}

In [26]:
# 리스트 <> 세트
list1 =[1,2,3,4,5,1,2,4 ]
len(set(list1))

5

In [27]:
list1 =[1,2,3,4,5 ]
list2 =[3,4,5,6,7 ]
set(list1)&set(list2)

{3, 4, 5}

### Lab: 문자열의 공통 문자

In [29]:
s1=input("첫 번째 문자열:")
s2=input("두 번째 문자열:")
list1 = list( set(s1) & set(s2) ) # 세트로 만들고 교집합 연산을 한다. 
print("\n공통적인 글자:", end=" ")
for i in list1:
    print(i, end=" ")

첫 번째 문자열:Hello World!
두 번째 문자열:How are you?

공통적인 글자: e   r o H

### Lab: 중복되지 않은 단어의 개수 세기

In [30]:
txt = input("입력 텍스트: ")
words = txt.split(" ")
unique = set(words) # 집합으로 만들면 자동적으로 중복을 제거한다. 
print("사용된 단어의 개수= ", len(unique))
print(unique)

입력 텍스트: I have a dream that one day every valley shall be exalted and every hill and mountain shall be made low
사용된 단어의 개수=  17
{'dream', 'I', 'one', 'mountain', 'made', 'have', 'hill', 'exalted', 'that', 'a', 'low', 'day', 'valley', 'and', 'be', 'every', 'shall'}

## 딕셔너리

In [31]:
capitals ={"Korea":"Seoul", "USA":"Washington", "UK":"London"} 
print( capitals["Korea"])

Seoul

In [32]:
print(capitals["France"])

KeyError: 'France'

In [33]:
print( capitals.get("France", "해당 키가 없습니다."))

해당 키가 없습니다.

In [34]:
capitals ={}
capitals["Korea"]="Seoul"
capitals["USA"]="Washington"
capitals["UK"]="London"
capitals["France"]="Paris"
print(capitals)

{'Korea': 'Seoul', 'USA': 'Washington', 'UK': 'London', 'France': 'Paris'}

In [35]:
if "UK" in capitals :
    capitals.pop("UK")

In [36]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
for key in capitals :
    print( key,":", capitals[key])

Korea : Seoul
USA : Washington
UK : London

In [37]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"} 
for key, value in capitals.items():
    print( key,":", value )

Korea : Seoul
USA : Washington
UK : London

In [38]:
capitals ={"Korea":"Seoul","USA":"Washington","UK":"London"}
print( capitals.keys())
print( capitals.values())

dict_keys(['Korea', 'USA', 'UK'])
dict_values(['Seoul', 'Washington', 'London'])

In [39]:
for key in sorted( capitals.keys()):
    print(key, end=" ")

Korea UK USA

In [40]:
values =[1,2,3,4,5,6] 
dic ={x : x**2 for x in values if x%2==0}
print(dic)

{2: 4, 4: 16, 6: 36}

In [41]:
dic ={i:str(i) for i in [1,2,3,4,5]}
print(dic)

{1: '1', 2: '2', 3: '3', 4: '4', 5: '5'}

In [42]:
fruits =["apple","orange","banana"]
dic ={f:len(f) for f in fruits}
print(dic)

{'apple': 5, 'orange': 6, 'banana': 6}

### Lab: 영한 사전

In [43]:
english_dict ={} # 공백 딕셔너리를 생성한다. 
english_dict["one"]="하나" # 딕셔너리에 단어와 의미를 추가한다. 
english_dict["two"]="둘"
english_dict["three"]="셋"
word =input("단어를 입력하시오: ");
print (english_dict[word])

단어를 입력하시오: one
하나

### Lab: 주소록 작성

In [44]:
def main():
    address_book ={} # 공백 딕셔너리를 생성한다. 
    while True :
        user = display_menu();
        if user ==1 :
            name, number = get_contact()
            address_book[name]= number # name과 number를 추가한다. 
        elif user ==2 :
            name, number = get_contact()
            address_book.pop(name) # name을 키로 가진 항목을 삭제. 
        elif user ==3 :
            pass # 도전 문제 참조
        elif user ==4 :
            for key in sorted(address_book):
                print(key,"의 전화번호:", address_book[key])
        else :
            break
            
# 이름과 전화번호를 입력받아서 반환한다. 
def get_contact():
    name =input("이름: ")
    number =input("전화번호:")
    return name, number # 튜플로 반환한다. 

# 메뉴를 화면에 출력한다. 
def display_menu() :
    print("1. 연락처 추가") 
    print("2. 연락처 삭제") 
    print("3. 연락처 검색") 
    print("4. 연락처 출력") 
    print("5. 종료") 
    select = int(input("메뉴 항목을 선택하시오: "))
    return select

main()

1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 종료
메뉴 항목을 선택하시오: 1
이름: KIM
전화번호:010
1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 종료
메뉴 항목을 선택하시오: 5

### Lab: 학생 성적 처리

In [45]:
score_dic = { 
"Kim":[99,83,95],
"Lee":[68,45,78],
"Choi":[25,56,69]}

for name, scores in score_dic.items():
    print(name,"의 평균성적=",sum(scores)/len(scores))

Kim 의 평균성적= 92.33333333333333
Lee 의 평균성적= 63.666666666666664
Choi 의 평균성적= 50.0

### Lab: 단어 카운터 만들기

In [46]:
text_data ="Create the highest, grandest vision possible for your life, because you become what you believe"
word_dic = {} # 단어들과 출현 횟수를 저장하는 딕셔너리를 생성
for w in text_data.split(): # 텍스트를 단어들로 분리하여 반복한다. 
    if w in word_dic: # 단어가 이미 딕셔너리에 있으면
        word_dic[w] += 1 # 출현 횟수를 1 증가한다. 
    else: # 처음 나온 단어이면 1로 초기화한다. 
        word_dic[w] = 1 
        
for w, count in sorted(word_dic.items()): # 키와 값을 정렬하여 반복 처리한다. 
    print(w, "의 등장횟수=", count)

Create 의 등장횟수= 1
because 의 등장횟수= 1
become 의 등장횟수= 1
believe 의 등장횟수= 1
for 의 등장횟수= 1
grandest 의 등장횟수= 1
highest, 의 등장횟수= 1
life, 의 등장횟수= 1
possible 의 등장횟수= 1
the 의 등장횟수= 1
vision 의 등장횟수= 1
what 의 등장횟수= 1
you 의 등장횟수= 2
your 의 등장횟수= 1

## 문자열

In [47]:
ord("a")

97

In [48]:
ord("가")

44032

In [49]:
chr(97)

'a'

In [50]:
chr(44032)

'가'

In [51]:
s = "Monty Python"

In [52]:
s[0]

'M'

In [53]:
s[6:10]

'Pyth'

In [54]:
s[:2]

'Mo'

In [55]:
s[4:]

'y Python'

In [56]:
s[:2] + s[2:]

'Monty Python'

In [57]:
s[:4] + s[4:]

'Monty Python'

In [58]:
s[:]

'Monty Python'

In [59]:
message="see you at noon"
low = message[:5]
high = message[5:]
low

'see y'

In [60]:
high

'ou at noon'

In [61]:
reg = "980326"
print(reg[0:2]+"년")
print(reg[2:4]+"월")
print(reg[4:6]+"일")

98년
03월
26일

In [62]:
word = "abcdef"
word[0]="A"

TypeError: 'str' object does not support item assignment

In [63]:
word = "abcdef"
word = "A" + word[1:]
word

'Abcdef'

In [64]:
a = input("문자열을 입력하시오: ")
b = input("문자열을 입력하시오: ")
if( a < b ):
    print(a, "가 앞에 있음")
else:
    print(b, "가 앞에 있음")

문자열을 입력하시오: apple
문자열을 입력하시오: orange
apple 가 앞에 있음

In [65]:
x = 25
y = 98
prod = x * y
print(x, "과", y, "의 곱은", prod)

25 과 98 의 곱은 2450

In [66]:
x = 25
y = 98
prod = x * y
print(f"{x}과 {y}의 곱은 {prod}")

25과 98의 곱은 2450

### Lab: 회문 검사하기

In [68]:
s = input("문자열을 입력하시오: ")
s1 = s[::-1] # 문자열을 거꾸로 만든다. 
if( s == s1 ):
    print("회문입니다.")
else:
    print("회문이 아닙니다.")

문자열을 입력하시오: dad
회문입니다.

In [69]:
s = "i am A student."
s.capitalize()

'I am a student.'

In [70]:
s = "Breakfast At Tiffany"
s.lower()

'breakfast at tiffany'

In [71]:
s.upper()

'BREAKFAST AT TIFFANY'

In [72]:
s = input("파이썬 소스 파일 이름을 입력하시오: ")
if s.endswith(".py"):
    print("올바른 파일 이름입니다")
else :
    print("올바른 파일 이름이 아닙니다.")

파이썬 소스 파일 이름을 입력하시오: aaa.py
올바른 파일 이름입니다

In [73]:
s = "www.naver.com"
s.replace("com", "co.kr")

'www.naver.co.kr'

In [74]:
s = "www.naver.co.kr"
s.find(".kr")

12

In [75]:
s = "Let it be, let it be, let it be"
s.rfind("let")

22

In [76]:
s = "www.naver.co.kr"
s.count(".")

3

In [77]:
"ABCabc".isalpha()

True

In [78]:
"123".isdigit()

True

In [79]:
"abc".islower()

True

In [80]:
s = " Hello, World! "
s.strip()

'Hello, World!'

In [81]:
s = "########this is example#####"
s.strip("#")

'this is example'

In [82]:
s = "########this is example#####"
s.lstrip("#")

'this is example#####'

In [83]:
s.rstrip("#")

'########this is example'

In [84]:
s = "Welcome to Python"
s.split()

['Welcome', 'to', 'Python']

In [85]:
s = "Hello, World!"
s.split(",")

['Hello', ' World!']

In [86]:
s = "Hello, World!"
s.split(", ")

['Hello', 'World!']

In [87]:
list("Hello, World!")

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [88]:
",".join(["apple", "grape", "banana"])

'apple,grape,banana'

In [89]:
"-".join("010.1234.5678".split("."))

'010-1234-5678'

### Lab: 머리 글자어 만들기

In [90]:
phrase = input("문자열을 입력하시오: ")
acronym = ""
# 대문자로 만든 후에 단어들로 분리한다. 
for word in phrase.upper().split():
    acronym += word[0] # 단어를 첫 글자만을 acronym에 추가한다. 
print( acronym )

문자열을 입력하시오: North Atlantic Treaty Organization
NATO

### Lab: 이메일 주소 분석

In [91]:
address=input("이메일 주소를 입력하시오: ")
(id, domain) = address.split("@")
print(address)
print("아이디:"+id)
print("도메인:"+domain)

이메일 주소를 입력하시오: aaa@google.com
aaa@google.com
아이디:aaa
도메인:google.com

### Lab: 문자열 분석

In [92]:
sentence = input("문자열을 입력하시오: ")
table ={"alphas":0,"digits":0,"spaces":0 }
for i in sentence:
    if i.isalpha():
        table["alphas"]+=1
    if i.isdigit():
        table["digits"]+=1
    if i.isspace():
        table["spaces"]+=1
print(table)

문자열을 입력하시오: A picture is worth a thousand words.
{'alphas': 29, 'digits': 0, 'spaces': 6}

### Lab: 트위터 메시지 처리

In [93]:
t = "Python is very easy and powerful!"
length = len(t.split(" "))
print(length)

6

### Lab: OTP 발생 프로그램

In [94]:
import random
s = "0123456789" # 대상 문자열
passlen = 4 # 패스워드 길이
p = "".join(random.sample(s, passlen ))
print(p)

2081