### 문제 1번
함수 fun(n)은 초를 매개변수 n으로 받아 시분초로 변환한 문자열을 반환한다.  
주석처럼 결과가 출력되도록 [ ] 위치에 함수 fun(n)을 작성하시오.

In [ ]:
def fun(n):
    n = int(n)
    hours = n // 3600
    n = n - hours * 3600
    mu = n // 60
    ss = n - mu*60
    a = f"{hours:02d}:{mu:02d}:{ss:02d}"
    return a

print(fun(3600))
print(fun(45678))
print(fun(0))

01:00:00
12:41:18
00:00:00

### 문제 2번  
my(1, 2)와 같은 결과가 출력되도록 함수를 호출하는 방법 5가지를 [ ] 위치에 완성하시오.  
단, my(1,)처럼 콤마로 끝나면 안된다.

In [ ]:
def my(m, y=2):
    print(m, y)
my(1, 2)
my(1)
my(m=1,y=2)
my(1,y=2)
my(m=1)
my(y=2,m=1)

1 2
1 2
1 2
1 2
1 2
1 2

### 문제 3번  
음이 아닌 정수를 매개변수로 받아 각 자리수의 곱을 반환하는 함수 fun(n)를 [ ] 위치에 작성하시오.  
str 함수 사용 금지.

In [ ]:
def fun(n):
    n = list(str(n))
    multiple = 1
    for i in range(len(n)):
        multiple = multiple * int(n[i])
    return multiple

print(fun(12345))

120

In [ ]:
def multi_digit(number):
    if number < 10:
        return number;
    return (number % 10) * multi_digit(number // 10)

print(multi_digit(12345))

120

### 문제 4번  
fun(n)은 첫 줄에는 1, 다음줄은 1  2, 마지막 줄에는 1  2…n이 출력될 수 있는 문자열을 반환한다. 다음처럼 출력되도록 fun을 '''''' 위치에 일반성 있게 작성하시오.

In [23]:
def fun(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end="")
        print()
    return ''

print(fun(4))

1
12
123
1234

### 문제 5번  
같은 연산자일지라도 피연산자의 데이터 형에 따라 다른 동작을 할 수 있다. 주석처럼 결과가 나오도록 '''''' 위치에 함수 fun(n)을 작성하시오.

In [ ]:
def fun(n):
    return n * 3

print(fun(10))
print(fun('10'))

30
101010

### 문제 6번  
함수 fun(n)은 정수 n의 값을 천 단위 마다 콤마를 넣은 문자열을 반환한다. 주석처럼 결과가 출력되도록 '''''' 위치에 이 함수를 작성하시오.  
format 함수 사용 금지.

In [ ]:
def fun(n):
    return f'{n:,}'

print(fun(-1000))
print(fun(123))
print(fun(123456))

-1,000
123
123,456

### 문제 7번  
함수 fun(n)은 구간 [1,1000]에 있는 난수를 n개를 생성하여 그 중 최대값과 최소값을 출력한다.'''''' 위치에 이 함수를 작성하시오.

In [ ]:
import random

def fun(n):
    numbers = []
    for i in range(1,n+1):
        number = random.randint(1, 1000)
        numbers.append(number)
    min_x = min(numbers)
    max_x = max(numbers)
    return min_x, max_x

random.seed(1)
fun(1) # 138 138
fun(100) # 3, 997
fun(7000) # 1, 1000

(1, 1000)

### 문제 8번  
함수 myInt(s)는 문자열 s를 정수로 변환하여 반환한다. s에 부호나 숫자가 아닌 문자가 있으면 예외를 발생시켜야 한다. 함수 fun(s)는 myInt(s)에 의해 예외가 발
생하면 메시지를 반환하며, 아니면 변환된 정수를 반환해야 한다. 다음처럼 출력되도록 이 두 함수를 '''''' 위치에 작성하시오.

In [ ]:
def myInt(s):
    try:
        temp = int(eval(str(s)))
        if type(temp) == int:
            return temp
    except:
        return '숫자 아닌 문자'
        
print(myInt("1234567890"))
print(myInt("-123"))
print(myInt("1,000"))

1234567890
-123
숫자 아닌 문자